<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel = "tests" name="Suite">
  <test thread-count="5" name="Stand Alone Test">
    <classes>
      <class name="WorkPracticeCompany.Tests.SubmitOrderTest"/>
    </classes>
  </test> <!-- Test This Test has internal thread id for parallel test -->
  
   <test thread-count="5" name="Error Validation Test">
    <classes>
      <class name="WorkPracticeCompany.Tests.ErrorValidationsTest"/>
    </classes>
  </test> <!-- Test Similarly this test has differen threadid
  All of the tests implimentations varibles has different memory 
  address even when they are invoking similar methods
  Though For reports threads were not created therefore external thread calss is implemented in listners -->
</suite> <!-- Suite -->
